<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" id="navlogo" href="#/home">Open Course</a>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a data-ng-click="toolbar.login()" data-ng-if="!toolbar.auth.isAuthenticated">Login</a></li>
        <li><a href="#/about" data-ng-if="!toolbar.auth.isAuthenticated">About</a></li>
        <li><a href="#/users" data-ng-if="toolbar.auth.isAuthenticated">Courses</a></li>
        <li class="dropdown">
	          <a href="#" class="dropdown-toggle profileA" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-ng-if="toolbar.auth.isAuthenticated"> 
	          <img ng-src="{{profile.picture}}">
	          <label>{{ profile.nickname}}</label>
	          <span class="caret"></span>
          </a>
          <ul class="dropdown-menu submenu" data-ng-if="toolbar.auth.isAuthenticated">
            <li><a href="#">Profile</a></li>
            <li><a href="#/about">About</a></li>
            <li role="separator" class="divider"></li>
            <li><a data-ng-click="toolbar.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>