@import url(https://fonts.googleapis.com/css?family=Lato);
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak
{
    display: none !important;
}

*
{
    font-family: 'Lato', sans-serif;
}
html{
    height:100% !important;
}


.top_wrapper
{
    height: 80px;
    margin-bottom: 20px;

    color: white;
    background-image: linear-gradient(315deg, rgb(62, 80, 98) 10%, rgb(32, 48, 64) 90%);
    .indexContainer
    {
        padding-top: 0;

        background: transparent !important;
        h1
        {
            margin-bottom: 40px;
        }
        img
        {
            width: 500px;
            height: 300px;
        }
    }
}
.top_wrapper_home
{
    height: 590px !important;
}
.navbar
{
    #navlogo
    {
        width: 70px;
        height: 50px;
        margin-top: 8px;
        margin-left: 50px;
        padding-bottom: 8px;

        background-image: url('/style/images/Background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90px 70px;
    }
    .navbar-brand
    {
        padding: 0;
    }
    .container
    {
        margin-right: auto;
        margin-left: auto;
        padding-right: 15px;
        padding-left: 15px;
    }
    .profileToolbar
    {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    li
    {
        cursor: pointer;
    }
    img
    {
        width: 50px;
        height: 50px;
        margin-right: 7px;

        border-radius: 30px;
    }
    .nav
    {
        font-size: 12px;

        padding-top: 8px;
        padding-bottom: 8px;
        .signin
        {
            margin-top: 7px;
            padding-top: 8px;
            padding-bottom: 8px;

            text-transform: uppercase;

            border: 1px solid white;
            border-radius: 50px;
        }
    }
    .open
    {
        a
        {
            background-color: transparent !important;
        }
    }
    .dropdown-menu
    {
        margin-top: 7px !important;

        opacity: .9;
        border-radius: 10px;
        background-color: white;
        li
        {
            &:hover
            {
                background-color: #d3d3d3;
            }
        }
    }
}
.navbar.main
{
    margin-bottom: 0;
    padding-top: 8px;

    border-bottom: none;
    background-color: transparent;
}

#article
{
    margin-bottom: 30px;
    .text-muted{
        margin-top: 10px;
    }
    .articleDescription
    {
        padding-top: 80px;
    }
}

#startButtonCourse{
    margin-bottom: 30px;
}



.bottom
{
    text-align: center;

    background-color: #373737;
}
.bottom .container
{
    min-height: 150px;

    background-color: #373737;
}
.bottom .container h3
{
    color: #999;
}
.bottom .container p
{
    color: #666;
}
footer
{
    bottom: 0;
    left: 0;

    width: 100%;
    height: 130px;
}

@media only screen and (max-width : 1400px)
{

    .top_wrapper
    {
        height: 80px;
        .indexContainer
        {
            padding: 0;
            h1
            {
                font-size: 50px;

                margin-bottom: 20px;

                color: white;
            }
            img
            {
                width: 400px;
                height: 250px;
            }
        }
    }

    .top_wrapper_home
    {
        height: 452px !important;
    }
     .dropdown-menu
    {
        margin-right: 20px !important;
    }
    footer
    {
        bottom: 0;
        left: 0;

        width: 100%;
        height: 150px;
    }
}
@media only screen and (max-width : 990px)
{
    footer
    {
        bottom: 0;
        left: 0;

        width: 100%;
        height: 275px;
    }
}
